
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Data Tables</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item">Tables</li>
                <li class="breadcrumb-item active">users</li>
            </ol>
        </nav>
    </div>
    
    <section class="section">
        <div class="row">
            <div class="col-lg-12 container">
                <div class="card " style="width:fit-content; ">
                    <div class="card-body">
                        <h5 class="card-title table-body">Datatables</h5>

                        <table class="table table-body ">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                  
                                    <th scope="col">Email</th>
                                    <th scope="col">Phone No.</th>
                                    <th scope="col">Activity Status</th>
                                    <th scope="col">Edit</th>
                                    <!-- <th scope="col">Delete</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of Users; let i = index">
                                    <th scope="row">{{ i + 1 }}</th>
                                    <!-- <td>
                      <img [src]="user.userImg" width="200" height="100" />
                    </td> -->
                                    <td>{{ user.userName }}</td>
                              
                                    <td>{{ user.userEmail }}</td>
                                    <td>{{ user.userPhone }}</td>
                                    <td class="text-center">{{ user.isActive }}</td>
                                  
                                    <!-- <td>{{ hotel.SSRoomPrice | currency: 'USD':'symbol'}}</td> -->
                                    <td> 
                      <button 
                        (click)="toggelActivity(user._id)"
                        type="button"
                        class="btn btn-danger"
                
                      >
                       Change Activity
                      </button>
                    </td> 
                                    <!-- <td>
                      <button
                        type="button"
                        class="btn btn-danger"
                        (click)="deleteHotel(hotel._id)"
                      >
                        Delete
                      </button>
                      
                    </td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>